* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, .container {
	height: 100%;
}
/*上方显示区域*/
#output {
	height: 30%;
	padding: 20px 20px 60px 20px;
		position: relative;
}
.display {
	width: 100%;
}
#expression {
	height: 100%;
}
#result {
	height: 28px;
	position: absolute;
	bottom: 20px;
	left: -20px;
}

/*下方输入区域*/
#input {
	height: 70%;
}
.row {
	height: 20%;
	width: 100%;
}
.btn {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
}
/*“0”键宽度*/
#zero {
	width: 50%;
}
/*按键上的文字垂直水平居中*/
.btn span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


/*for desktop*/
@media (min-width: 769px) {
	.container {
		height: 512px;
		width: 360px;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
	}
}
