* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

#output {
	height: 30%;
	padding: 24px 20px 12px 20px;
}
.display {
	width: 100%;
}
#expression {
	height: 65%;
}
#result {
	height: 35%;
}

#input {
	height: 70%;
}

.row {
	height: 20%;
	width: 100%;
}
.btn {
	display: inline-block;
	width: 25%;
	height: 100%;
	float: left;
}
#zero {
	width: 50%;
}
.container, .mockup {
	height: 100%;
}
@media (min-width: 769px) {
	.container {
		height: 100%;
		width: 100%;
	}
	.mockup {
		background-image: url('../images/device.png');
		width: 217px;
		height: 441px;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 53.5px 14.75px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}