* {
	font-family: "Helvetica Neue";
}

.display {
	text-align: right;
	font-weight: 100;
	letter-spacing: 3px;
}
#expression {
	font-size: 48px;
}
#result {
	font-size: 28px;
}

.btn {
	font-size: 26px;
	font-weight: 100;
}
.btn {
	position: relative;
}

#result {
	color: rgba(255, 255, 255, 0.5)
}