* {
	font-family: roboto, "Helvetica Neue", Helvetica, 'Droid Sans Fallback', 'Droid Sans', Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
	font-weight: lighter;
}
.display {
	text-align: right;
	letter-spacing: 2px;
}
/*表达式换行*/
#expression {
	font-size: 52px;
	word-wrap: break-word;
	overflow: auto;
	transition: font-size ease .3s
}


#result {
	font-size: 28px;
	color: rgba(255, 255, 255, 0.5);
}

.btn {
	font-size: 22px;
}
